* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111111;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

button,
input,
textarea {
  font: inherit;
}
